<%- include("./partials/header") %>

	<div class="page-wrapper">
		<div class="preloader">
			
		</div>
		<header class="main-header">
			<div class="header-top">
				<div class="auto-container">
					<div class="clearfix">
						<div class="top-left">
							<ul class="clearfix">
								<li>Welcome to KabodKaas Architecture</li>
							</ul>
						</div>
						<div class="top-right clearfix">
							<ul class="clearfix">
								<li>Follow us
									<div class="social-links">
										<a href="#">
											<span class="fab fa-instagram">
										</span>
									</a>
										<a href="#">
											<span class="fab fa-facebook-f">
										</span>
									</a>
										<a href="#">
											<span class="fab fa-linkedin">
										</span>
									</a>
										<a href="#">
											<span class="fab fa-pinterest">
										</span>
									</a>
										<a href="#">
											<span class="fab fa-twitter">
										</span>
									</a>
										<a href="#">
											<span class="fab fa-youtube">
										</span>
									</a>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="header-upper">
				<div class="auto-container clearfix">
					<div class="pull-left logo-outer">
						<div class="logo">
							<a href="/">
								<img src="./images/logo.png" alt="KabodKaas - Architecture Template" title="KabodKaas - Architecture Template">
							</a>
						</div>
					</div>
					<div class="pull-right upper-right clearfix">
						<nav class="main-menu">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="navbar-collapse collapse clearfix">
								<ul class="navigation clearfix">
									<li>
										<a href="/">Home</a>
									</li>
									<li class="current">
										<a href="/about">About Us</a>
									</li>
									<li>
										<a href="/services">Services</a>
									</li>
									<li>
										<a href="/projects">Projects</a>
									</li>
									<li class="dropdown">
										<a href="#">Pages</a>
										<ul>
											<li>
												<a href="/pages/team">Team</a>
											</li>
											<li>
												<a href="/pages/testimonials">Testimonials</a>
											</li>
											<li>
												<a href="/pages/faqs">Faqs</a>
											</li>
											<li>
												<a href="/pages/gallery">Gallery</a>
											</li>
										</ul>
										<div class="dropdown-btn">
											<span class="fa fa-angle-down">
											</span>
										</div>
									</li>
									<li>
										<a href="/blog">Blog</a>
									</li>
									<li>
										<a href="/contact">Contact</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
			<div class="sticky-header">
				<div class="auto-container clearfix">
					<div class="logo pull-left">
						<a href="/" class="img-responsive">
							<img src="./images/logo-small.png" alt="KabodKaas - Architecture Template" title="KabodKaas - Architecture Template">
						</a>
					</div>
					<div class="right-col pull-right">
						<nav class="main-menu">
							<div class="navbar-header">
								<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
									<span class="icon-bar"></span>
								</button>
							</div>
							<div class="navbar-collapse collapse clearfix">
								<ul class="navigation clearfix">
									<li>
										<a href="/">Home</a>
									</li>
									<li class="current">
										<a href="/about">About Us</a>
									</li>
									<li>
										<a href="/services">Services</a>
									</li>
									<li>
										<a href="/projects">Projects</a>
									</li>
									<li class="dropdown">
										<a href="#">Pages</a>
										<ul>
											<li>
												<a href="/pages/team">Team</a>
											</li>
											<li>
												<a href="/pages/testimonials">Testimonials</a>
											</li>
											<li>
												<a href="/pages/faqs">Faqs</a>
											</li>
											<li>
												<a href="/pages/gallery">Gallery</a>
											</li>
											<li>
												<a href="/pages/errorpage">404 page</a>
											</li>
										</ul>
										<div class="dropdown-btn">
											<span class="fa fa-angle-down">
											</span>
										</div>
									</li>
									<li>
										<a href="/blog">Blog</a>
									</li>
									<li>
										<a href="/contact">Contact</a>
									</li>
								</ul>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
		<section class="page-title" style="background-image:url(images/background/3.jpg)">
			<div class="auto-container">
				<h1>About Us</h1>
				<ul class="bread-crumb clearfix">
					<li>
						<a href="/">Home</a>
					</li>
					<li class="active">About Us</li>
				</ul>
			</div>
		</section>
		<section class="about-section">
			<div class="auto-container">
				<div class="row clearfix">
					<div class="content-column col-md-6 col-sm-12 col-xs-12">
						<div class="inner-column">
							<div class="sec-title style-two">
								<div class="sub-title">People’s lives are indelibly shaped by architecture</div>
								<h2>Creating structures that inspire and serve</h2>
								<div class="separator">
								</div>
							</div>
							<div class="text">
								<p>We engage at every scale and step of the design and construction process, working with local communities upfront on land use issues, devising efficient delivery methods, and everything in between.</p>
									<p>Whether 
									reimagining an existing structure or crafting a new one, our approach 
									realizes a building’s highest value. In the end, each client’s solution 
									is unique to them and responsive to context, program and people.</p>
								</div>
							</div>
						</div>
						<div class="image-column col-md-6 col-sm-12 col-xs-12">
							<div class="image">
								<img src="./images/resource/about-2.png" alt="">
							</div>
						</div>
					</div>
				</div>
			</section>
			<section class="news-section-two">
				<div class="auto-container">
					<div class="row clearfix">
						<div class="news-block-two col-md-4 col-sm-6 col-xs-12">
							<div class="inner-box">
							<div class="lower-box">
								<h3>Our Mission</h3>
								<div class="text">
									<p>We commit to inspiring our people to be the best they can be, empowering 
									them to design a world that prioritizes the human experience.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="news-block-two col-md-4 col-sm-6 col-xs-12">
						<div class="inner-box">
							<div class="lower-box">
								<h3>Our Vision</h3>
								<div class="text">
									<p>We confidently accept our role as trusted expert partner to our clients, guiding them to business success.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="news-block-two col-md-4 col-sm-6 col-xs-12">
						<div class="inner-box">
							<div class="lower-box">
								<h3>Our Strategies</h3>
								<div class="text">
									<p>We challenge ourselves to continue to earn our position as industry leaders in hospitality, multi-family residential, and affordable housing design.</p>
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</section>
		<div class="counter-section style-two">
	 		<div class="fact-section" style="background-image:url(images/background/2.jpg)">
	 			<div class="auto-container">
				 	<div class="row clearfix">
				 		<div class="counter-column col-md-6 col-sm-12 col-xs-12">
				 			<div class="fact-counter">
							 	<div class="auto-container">
							 		<div class="row clearfix">
							 			<div class="column counter-column col-md-6 col-sm-6 col-xs-12">
								 			<div class="inner">
									 			<div class="count-outer count-box">
												 	<span class="count-text" data-speed="4000" data-stop="15">0</span>
												</div>
												<h4 class="counter-title">Certified Engineers</h4>
											</div>
										</div>
									 	<div class="column counter-column col-md-6 col-sm-6 col-xs-12">
									 		<div class="inner">
									 			<div class="count-outer count-box">
									 				<span class="count-text" data-speed="4000" data-stop="30">0</span>
												</div>
									 			<h4 class="counter-title">Happy Clients</h4>
											</div>
										</div>
									 	<div class="column counter-column col-md-6 col-sm-6 col-xs-12">
										 	<div class="inner">
										 		<div class="count-outer count-box">
										 			<span class="count-text" data-speed="4000" data-stop="10">0</span>
												</div>
									 			class="counter-title">Awards Won</h4>
											</div>
										</div>
									 	<div class="column counter-column col-md-6 col-sm-6 col-xs-12">
									 		<div class="inner">
									 			<div class="count-outer count-box">
									 			<span class="count-text" data-speed="4000" data-stop="50">0</span>
											</div>
										 	<h4 class="counter-title">Projects Done</h4>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					 <div class="title-column col-md-6 col-sm-12 col-xs-12">
					 	<div class="title-inner">
					 		<div class="number">5</div>
					 		<div class="text">years transforming places and creating plans that improve life</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
 	<section class="team-section">
	 	<div class="auto-container">
	 		<div class="sec-title centered">
	 			<h2>Meet The Experts</h2>
				<div class="sub-title">A prism of perspectives, passions and talents</div>
				 <div class="separator">
				 </div>
			</div>
			<div class="row clearfix">
				<div class="team-member col-md-3 col-sm-6 col-xs-12">
					<div class="inner-box">
						<div class="image">
					 		<img src="./images/resource/team-1.jpg" alt="">
						</div>
					 	<div class="lower-box">
					 		<h3><a href="#">Kuranga Samson</a></h3>
					 		<div class="designation">Director &amp; CEO</div>
					 		<ul class="social-icon-one">
					 			<li>
					 				<a href="#"><span class="fab fa-facebook"></span></a>
								</li>
					 			<li>
					 				<a href="#"><span class="fab fa-twitter"></span></a>
								</li>
								<li>
							 		<a href="#"><span class="fab fa-instagram"></span></a>
								</li>
							 	<li>
								 	<a href="#"><span class="fab fa-linkedin"></span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			 	<div class="team-member col-md-3 col-sm-6 col-xs-12">
			 		<div class="inner-box">
			 			<div class="image">
			 				<img src="./images/resource/team-2.jpg" alt="">
						</div>
			 			<div class="lower-box">
						 	<h3>
							 	<a href="#">Trisha Dalton</a>
							</h3>
							<div class="designation">Senior Architect</div>
							<ul class="social-icon-one">
							 	<li>
							 		<a href="#"><span class="fab fa-facebook"></span></a>
								</li>
								<li>
									<a href="#"><span class="fab fa-twitter"></span></a>
								</li>
							 	<li>
							 		<a href="#"><span class="fab fa-instagram"></span></a>
								</li>
							 	<li>
							 		<a href="#"><span class="fab fa-linkedin"></span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			 	<div class="team-member col-md-3 col-sm-6 col-xs-12">
			 		<div class="inner-box">
			 			<div class="image">
			 				<img src="./images/resource/team-3.jpg" alt="">
						</div>
			 			<div class="lower-box">
			 			<h3><a href="#">Brandon Edwards</a></h3>
			 			<div class="designation">Project Manager</div>
			 			<ul class="social-icon-one">
			 				<li>
			 					<a href="#"><span class="fab fa-facebook"></span></a>
							</li>
			 				<li>
			 					<a href="#"><span class="fab fa-twitter"></span></a>
							</li>
							<li>
								<a href="#"><span class="fab fa-instagram"></span></a>
							</li>
			 				<li>
							 	<a href="#"><span class="fab fa-linkedin"></span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		 	<div class="team-member col-md-3 col-sm-6 col-xs-12">
		 		<div class="inner-box">
		 			<div class="image">
		 				<img src="./images/resource/team-4.jpg" alt="">
					</div>
		 			<div class="lower-box">
		 				<h3>
		 					<a href="#">Miranda Houston</a>
						</h3>
						 <div class="designation">Interior Designer</div>
		 				<ul class="social-icon-one">
		 					<li>
		 						<a href="#"><span class="fab fa-facebook"></span></a>
							</li>
		 					<li>
		 						<a href="#"><span class="fab fa-twitter"></span></a>
							</li>
		 					<li>
		 						<a href="#"><span class="fab fa-instagram"></span></a>
							</li>
		 					<li>
		 						<a href="#"><span class="fab fa-linkedin"></span></a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<section class="clients-section grey-bg">
	<div class="auto-container">
 		<div class="title-box">
 			<div class="title">Our work is defined by so much more than just recognition</div>
 			<h2>Let’s help your business by unleashing the power of structural design</h2>
 			<div class="text">We’re architects, planners, engineers, strategists and industry specialists spanning hundreds of disciplines.</div>
 			<div class="btns-box">
 				<a href="/contact" class="theme-btn btn-style-four">Join our company</a>
 				<a href="/contact" class="theme-btn btn-style-five">Contact Us</a>
			</div>
		</div>
	</div>
</section>

<%- include("./partials/bottom") %>

</div>
 <div class="scroll-to-top scroll-to-target" data-target="html">
 	<span class="fa fa-arrow-up">
 </span>
</div>

<%- include("./partials/footer") %>
