<%- include("./partials/header") %>

		<div class="page-wrapper">
		<div class="preloader">
		</div>
		<header class="main-header">
			<div class="header-top">
			<div class="auto-container">
			<div class="clearfix">
			<div class="top-left">
			<ul class="clearfix">
			<li>Welcome to KabodKaas Architecture</li>
		</ul>
		</div>
		<div class="top-right clearfix">
			<ul class="clearfix">
			<li>Follow us<div class="social-links">
			<a href="#">
			<span class="fab fa-instagram">
		</span>
		</a>
		<a href="#">
			<span class="fab fa-facebook-f">
		</span>
		</a>
		<a href="#">
			<span class="fab fa-linkedin">
		</span>
		</a>
		<a href="#">
			<span class="fab fa-pinterest">
		</span>
		</a>
		<a href="#">
			<span class="fab fa-twitter">
		</span>
		</a>
		<a href="#">
			<span class="fab fa-youtube">
		</span>
		</a>
		</div>
		</li>
		</ul>
		</div>
		</div>
		</div>
		</div>
		<div class="header-upper">
			<div class="auto-container clearfix">
			<div class="pull-left logo-outer">
			<div class="logo">
			<a href="/">
			<img src="./images/logo.png" alt="KabodKaas - Architecture" title="KabodKaas - Architecture">
		</a>
		</div>
		</div>
		<div class="pull-right upper-right clearfix">
			<nav class="main-menu">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar">
		</span>
		<span class="icon-bar">
		</span>
		<span class="icon-bar">
		</span>
		</button>
		</div>
		<div class="navbar-collapse collapse clearfix">
			<ul class="navigation clearfix">
			<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/about">About Us</a>
		</li>
		<li>
			<a href="/services">Services</a>
		</li>
		<li>
			<a href="/projects">Projects</a>
		</li>
		<li class="dropdown">
			<a href="#">Pages</a>
		<ul>
			<li>
			<a href="/pages/team">Team</a>
		</li>
		<li>
			<a href="/pages/testimonials">Testimonials</a>
		</li>
		<li>
			<a href="/pages/faqs">Faqs</a>
		</li>
		<li>
			<a href="/pages/gallery">Gallery</a>
		</li>
		</ul>
		<div class="dropdown-btn">
			<span class="fa fa-angle-down">
		</span>
		</div>
		</li>
		<li class="current">
			<a href="/blog">Blog</a>
		</li>
		<li>
			<a href="/contact">Contact</a>
		</li>
		</ul>
		</div>
		</nav>
		</div>
		</div>
		</div>
		<div class="sticky-header">
			<div class="auto-container clearfix">
			<div class="logo pull-left">
			<a href="/" class="img-responsive">
			<img src="./images/logo-small.png" alt="KabodKaas - Architecture" title="KabodKaas - Architecture">
		</a>
		</div>
		<div class="right-col pull-right">
			<nav class="main-menu">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="icon-bar">
		</span>
		<span class="icon-bar">
		</span>
		<span class="icon-bar">
		</span>
		</button>
		</div>
		<div class="navbar-collapse collapse clearfix">
			<ul class="navigation clearfix">
			<li>
			<a href="/">Home</a>
		</li>
		<li>
			<a href="/about">About Us</a>
		</li>
		<li>
			<a href="/services">Services</a>
		</li>
		<li>
			<a href="/projects">Projects</a>
		</li>
		<li class="dropdown">
			<a href="#">Pages</a>
		<ul>
			<li>
			<a href="/pages/team">Team</a>
		</li>
		<li>
			<a href="/pages/testimonials">Testimonials</a>
		</li>
		<li>
			<a href="/pages/faqs">Faqs</a>
		</li>
		<li>
			<a href="/pages/gallery">Gallery</a>
		</li>
		\
		</ul>
		<div class="dropdown-btn">
			<span class="fa fa-angle-down">
		</span>
		</div>
		</li>
		<li class="current">
			<a href="/blog">Blog</a>
		</li>
		<li>
			<a href="/contact">Contact</a>
		</li>
		</ul>
		</div>
		</nav>
		</div>
		</div>
		</div>
		</header>
		<section class="page-title" style="background-image:url(images/background/3.jpg)">
			<div class="auto-container">
			<h1>Latest News</h1>
		<ul class="bread-crumb clearfix">
			<li>
			<a href="/">Home</a>
		</li>
		<li class="active">Latest News</li>
		</ul>
		</div>
		</section>
		<div class="sidebar-page-container">
			<div class="auto-container">
			<div class="row clearfix">
			<div class="content-side col-md-8 col-sm-12 col-xs-12">
			<div class="blog-classic">
			<div class="news-block-four">
			<div class="inner-box">
			<a href="/blog-single">
			<div class="image">
			<img src="./images/resource/news-1.jpg" alt="">
		</div>
		</a>
		<div class="lower-box">
			<div class="post-date">
			<i class="far fa-user">
		</i> By Admin    <i class="far fa-calendar-alt">
		</i> March 29, 2021</div>
		<h3>
			<a href="/blog-single">Everything You Need to Know About Minimalist Design</a>
		</h3>
		<div class="text">Clean
		 lines, reductive, uncluttered, monochromatic, simplicity, "less is 
		more" these are some of the terms and concepts that immediately come to 
		mind when thinking about minimalism.</div>
		<div class="clearfix">
			<a href="/blog-single" class="read-more">Read More <span class="fa fa-angle-right">
		</span>
		</a>
		</div>
		</div>
		</div>
		</div>
		<div class="news-block-four">
			<div class="inner-box">
			<a href="/blog-single">
			<div class="image">
			<img src="./images/resource/news-2.jpg" alt="">
		</div>
		</a>
		<div class="lower-box">
			<div class="post-date">
			<i class="far fa-user">
		</i> By Admin    <i class="far fa-calendar-alt">
		</i> March 22, 2021</div>
		<h3>
			<a href="/blog-single">Organizing Ideas To Give Your Office The Ultimate Upgrade</a>
		</h3>
		<div class="text">Home
		 offices are all the rage right now. Yours could be the headquarters for
		 a small business, questionably relevant papers, or homework central. 
		Keeping this spot tidy is important but making it look good holds even 
		more value to us aesthetes.</div>
		<div class="clearfix">
			<a href="/blog-single" class="read-more">Read More <span class="fa fa-angle-right">
		</span>
		</a>
		</div>
		</div>
		</div>
		</div>
		<div class="news-block-four">
			<div class="inner-box">
			<a href="/blog-single">
			<div class="image">
			<img src="./images/resource/news-3.jpg" alt="">
		</div>
		</a>
		<div class="lower-box">
			<div class="post-date">
			<i class="far fa-user">
		</i> By Admin    <i class="far fa-calendar-alt">
		</i> March 15, 2021</div>
		<h3>
			<a href="/blog-single">How to Decorate Your Kitchen with Subway Tiles</a>
		</h3>
		<div class="text">It
		 doesn't matter what your design aesthetic is or how much space you 
		have, one thing's for sure: Subway tiles are a failsafe addition to 
		virtually every kitchen. Inspired by the tiles that line New York City 
		subway stops, subway tiles have been on the rise ever since they were 
		discovered in 1904 and for good reason.</div>
		<div class="clearfix">
			<a href="/blog-single" class="read-more">Read More <span class="fa fa-angle-right">
		</span>
		</a>
		</div>
		</div>
		</div>
		</div>
		<div class="news-block-four">
			<div class="inner-box">
			<a href="/blog-single">
			<div class="image">
			<img src="./images/resource/news-4.jpg" alt="">
		</div>
		</a>
		<div class="lower-box">
			<div class="post-date">
			<i class="far fa-user">
		</i> By Admin    <i class="far fa-calendar-alt">
		</i> March 8, 2021</div>
		<h3>
			<a href="/blog-single">Make a Statement with These Creative Bathroom Tile Ideas</a>
		</h3>
		<div class="text">When
		 it comes to decorating your bathroom, a little bit of tile can go a 
		long way. At first thought, tiles serve a distinctly utilitarian 
		purpose: They protect your walls water damage and toothpaste smudges 
		alike.</div>
		<div class="clearfix">
			<a href="/blog-single" class="read-more">Read More <span class="fa fa-angle-right">
		</span>
		</a>
		</div>
		</div>
		</div>
		</div>
		<div class="styled-pagination">
			<ul class="inner-box clearfix">
			<li>
			<a href="#" class="active">1</a>
		</li>
		<li>
			<a href="#">2</a>
		</li>
		<li>
			<a href="#">3</a>
		</li>
		<li>
			<a href="#">
			<span class="fa fa-angle-double-right">
		</span>
		</a>
		</li>
		</ul>
		</div>
		</div>
		</div>
		<div class="sidebar-side col-md-4 col-sm-12 col-xs-12">
			<aside class="sidebar right-sidebar">
			<div class="sidebar-widget search-box">
			<div class="sidebar-title">
			<h2>Search</h2>
		</div>
		<form method="post" action="#">
			<div class="form-group">
			<input type="search" name="search-field" placeholder="Enter Search Keyword..." required="">
		<button type="submit">
			<span class="icon fa fa-search">
		</span>
		</button>
		</div>
		</form>
		</div>
		<div class="sidebar-widget categories-blog">
			<div class="sidebar-title">
			<h2>Categories</h2>
		</div>
		<div class="inner-box">
			<ul>
			<li>
			<a href="#">Architecture</a>
		</li>
		<li>
			<a href="#">Consulting &amp; Planning</a>
		</li>
		<li>
			<a href="#">Engineering</a>
		</li>
		<li>
			<a href="#">Interior Design</a>
		</li>
		<li>
			<a href="#">Master Planning</a>
		</li>
		<li>
			<a href="#">Sustainable Design</a>
		</li>
		<li>
			<a href="#">Workplace Strategy</a>
		</li>
		</ul>
		</div>
		</div>
		<div class="sidebar-widget popular-posts">
			<div class="sidebar-title">
			<h2>Recent posts</h2>
		</div>
		<article class="post">
			<a href="/blog-single">
			<figure class="post-thumb">
			<img src="./images/resource/post-thumb-1.jpg" alt="">
		</figure>
		</a>
		<h4 class="text">
			<a href="/blog-single">Striking Fireplace Designs</a>
		</h4>
		<div class="post-info">
			<i class="far fa-clock">
		</i> 30 Mar 2021</div>
		</article>
		<article class="post">
			<a href="/blog-single">
			<figure class="post-thumb">
			<img src="./images/resource/post-thumb-2.jpg" alt="">
		</figure>
		</a>
		<h4 class="text">
			<a href="/blog-single">30 Colorful Family Rooms</a>
		</h4>
		<div class="post-info">
			<i class="far fa-clock">
		</i> 30 Mar 2021</div>
		</article>
		<article class="post">
			<a href="/blog-single">
			<figure class="post-thumb">
			<img src="./images/resource/post-thumb-3.jpg" alt="">
		</figure>
		</a>
		<h4 class="text">
			<a href="/blog-single">Zen-Inducing Walk-In Showers</a>
		</h4>
		<div class="post-info">
			<i class="far fa-clock">
		</i> 30 Mar 2021</div>
		</article>
		</div>
		<div class="sidebar-widget search-box">
			<div class="sidebar-title">
			<h2>Subscribe</h2>
		</div>
		<form method="post" action="#">
			<div class="form-group">
			<input type="search" name="search-field" placeholder="Enter Email Address..." required="">
		<button type="submit">
			<span class="icon flaticon-message">
		</span>
		</button>
		</div>
		</form>
		</div>
		<div class="sidebar-widget popular-tags">
			<div class="sidebar-title">
			<h2>Tags cloud</h2>
		</div>
		<a href="#">ideas</a>
		<a href="#">renovation</a>
		<a href="#">living room</a>
		<a href="#">home office</a>
		<a href="#">construction</a>
		<a href="#">condo</a>
		<a href="#">apartments</a>
		<a href="#">materials</a>
		</div>
		</aside>
		</div>
		</div>
		</div>
		</div>
		<section class="call-to-action">
			<div class="auto-container">
			<div class="row clearfix">
			<div class="column col-md-8 col-sm-12 col-xs-12">
			<h3 class="text">Our team is always here to help. Contact us today to learn how.</h3>
		</div>
		<div class="btn-column col-md-4 col-sm-12 col-xs-12">
			<a href="/contact" class="theme-btn btn-style-six">Get in touch</a>
		</div>
		</div>
		</div>
		</section>
		
		<%- include("./partials/bottom") %>

		</div>
		<div class="scroll-to-top scroll-to-target" data-target="html">
			<span class="fa fa-arrow-up">
		</span>
		</div>

<%- include("./partials/footer") %>
