<%- include("./partials/header") %>

        <div class="page-wrapper">
        <div class="preloader">
        </div>
        <header class="main-header">
        <div class="header-top">
        <div class="auto-container">
        <div class="clearfix">
        <div class="top-left">
        <ul class="clearfix">
        <li>Welcome to KabodKaas Architecture</li>
        </ul>
        </div>
        <div class="top-right clearfix">
        <ul class="clearfix">
        <li>Follow us<div class="social-links">
        <a href="#">
        <span class="fab fa-instagram">
        </span>
        </a>
        <a href="#">
        <span class="fab fa-facebook-f">
        </span>
        </a>
        <a href="#">
        <span class="fab fa-linkedin">
        </span>
        </a>
        <a href="#">
        <span class="fab fa-pinterest">
        </span>
        </a>
        <a href="#">
        <span class="fab fa-twitter">
        </span>
        </a>
        <a href="#">
        <span class="fab fa-youtube">
        </span>
        </a>
        </div>
        </li>
        </ul>
        </div>
        </div>
        </div>
        </div>
        <div class="header-upper">
        <div class="auto-container clearfix">
        <div class="pull-left logo-outer">
        <div class="logo">
        <a href="/index">
        <img src="/images/logo.png" alt="KabodKaas - Architecture Template" title="KabodKaas - Architecture Template">
        </a>
        </div>
        </div>
        <div class="pull-right upper-right clearfix">
        <nav class="main-menu">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar">
        </span>
        <span class="icon-bar">
        </span>
        <span class="icon-bar">
        </span>
        </button>
        </div>
        <div class="navbar-collapse collapse clearfix">
        <ul class="navigation clearfix">
        <li>
        <a href="/">Home</a>
        </li>
        <li>
        <a href="/about">About Us</a>
        </li>
        <li>
        <a href="/services">Services</a>
        </li>
        <li>
        <a href="/projects">Projects</a>
        </li>
        <li class="current dropdown">
        <a href="#">Pages</a>
        <ul>
        <li>
        <a href="/pages/team">Team</a>
        </li>
        <li>
        <a href="/pages/testimonials">Testimonials</a>
        </li>
        <li>
        <a href="/pages/faqs">Faqs</a>
        </li>
        <li>
        <a href="/pages/gallery">Gallery</a>
        </li>
        </ul>
        <div class="dropdown-btn">
        <span class="fa fa-angle-down">
        </span>
        </div>
        </li>
        <li>
        <a href="/blog">Blog</a>
        </li>
        <li>
        <a href="/contact">Contact</a>
        </li>
        </ul>
        </div>
        </nav>
        </div>
        </div>
        </div>
        <div class="sticky-header">
        <div class="auto-container clearfix">
        <div class="logo pull-left">
        <a href="/index" class="img-responsive">
        <img src="/images/logo-small.png" alt="KabodKaas - Architecture Template" title="KabodKaas - Architecture Template">
        </a>
        </div>
        <div class="right-col pull-right">
        <nav class="main-menu">
        <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar">
        </span>
        <span class="icon-bar">
        </span>
        <span class="icon-bar">
        </span>
        </button>
        </div>
        <div class="navbar-collapse collapse clearfix">
        <ul class="navigation clearfix">
        <li>
        <a href="/">Home</a>
        </li>
        <li>
        <a href="/about">About Us</a>
        </li>
        <li>
        <a href="/services">Services</a>
        </li>
        <li>
        <a href="/projects">Projects</a>
        </li>
        <li class="current dropdown">
        <a href="#">Pages</a>
        <ul>
        <li>
        <a href="/pages/team">Team</a>
        </li>
        <li>
        <a href="/pages/testimonials">Testimonials</a>
        </li>
        <li>
        <a href="/pages/faqs">Faqs</a>
        </li>
        <li>
        <a href="/pages/gallery">Gallery</a>
        </li>
        </ul>
        <div class="dropdown-btn">
        <span class="fa fa-angle-down">
        </span>
        </div>
        </li>
        <li>
        <a href="/blog">Blog</a>
        </li>
        <li>
        <a href="/contact">Contact</a>
        </li>
        </ul>
        </div>
        </nav>
        </div>
        </div>
        </div>
        </header>
        <section class="page-title" style="background-image:url(/images/background/3.jpg)">
        <div class="auto-container">
        <h1>Testimonials</h1>
        <ul class="bread-crumb clearfix">
        <li>
        <a href="/">Home</a>
        </li>
        <li>
        <a href="#">Pages</a>
        </li>
        <li class="active">Testimonials</li>
        </ul>
        </div>
        </section>
        <section class="testimonial-section">
        <div class="auto-container">
        <div class="sec-title centered">
        <h3>What our customers think about our services</h3>
        <div class="separator">
        </div>
        </div>
        <div class="single-item-carousel owl-carousel owl-theme owl-loaded owl-drag">
        <div class="owl-stage-outer">
        <div class="owl-stage" style="transform: translate3d(-2014px, 0px, 0px); transition: all 0.7s ease 0s; width: 8056px;">
        <div class="owl-item cloned" style="width: 977px; margin-right: 30px;">
        <div class="testimonial-block">
        <div class="inner-box">
        <div class="image">
        <img src="/images/resource/author-1.jpg" alt="">
        </div>
        <div class="text">Our
        new space really turned out great! Thanks for putting up with us and 
        all of our ideas, feedback, comments, and suggestions - and thanks for 
        all of your hard work to get us to this point.</div>
        <div class="quote-icon">
        <span class="icon fas fa-quote-left">
        </span>
        </div>
        <div class="author">Vanesa Lorens</div>
        <div class="designation">Niger State, Nigeria</div>
        </div>
        </div>
        </div>
        <div class="owl-item cloned" style="width: 977px; margin-right: 30px;">
        <div class="testimonial-block">
        <div class="inner-box">
        <div class="image">
        <img src="/images/resource/author-2.jpg" alt="">
        </div>
        <div class="text">From
        start to finish we were totally delighted and impressed with every 
        aspect of our experience with KabodKaas architects. Each was creative, 
        thoughtful, and fully responsive to our questions as the design and 
        build-out process moved forward.</div>
        <div class="quote-icon">
        <span class="icon fas fa-quote-left">
        </span>
        </div>
        <div class="author">Michael Frile</div>
        <div class="designation">Lagos State, Nigeria</div>
        </div>
        </div>
        </div>
        <div class="owl-item active" style="width: 977px; margin-right: 30px;">
        <div class="testimonial-block">
        <div class="inner-box">
        <div class="image">
        <img src="/images/resource/author-1.jpg" alt="">
        </div>
        <div class="text">KabodKaas
        architects have been a pleasure to work with during the process of 
        relocating two of our offices, which included the relocation of our 
        company’s headquarters. Throughout the entire process, they managed to 
        provide premier design services and impeccable construction 
        coordination.</div>
        <div class="quote-icon">
        <span class="icon fas fa-quote-left">
        </span>
        </div>
        <div class="author">Vanesa Lorens</div>
        <div class="designation">Niger State, Nigeria</div>
        </div>
        </div>
        </div>
        <div class="owl-item" style="width: 977px; margin-right: 30px;">
        <div class="testimonial-block">
        <div class="inner-box">
        <div class="image">
        <img src="/images/resource/author-2.jpg" alt="">
        </div>
        <div class="text">Your
        team turned our vision into a reality. The staff was professional and 
        creative throughout the design and build-out processes, bringing 
        knowledge and expertise to the table to help lead the construction 
        effort. We set out to build an innovative work environment that provides
        our employees a positive and energetic atmosphere."</div>
        <div class="quote-icon">
        <span class="icon fas fa-quote-left">
        </span>
        </div>
        <div class="author">Michael Frile</div>
        <div class="designation">Lagos State, Nigeria</div>
        </div>
        </div>
        </div>
        <div class="owl-item" style="width: 977px; margin-right: 30px;">
        <div class="testimonial-block">
        <div class="inner-box">
        <div class="image">
        <img src="/images/resource/author-1.jpg" alt="">
        </div>
        <div class="text">Our
        new space really turned out great! Thanks for putting up with us and 
        all of our ideas, feedback, comments, and suggestions - and thanks for 
        all of your hard work to get us to this point.</div>
        <div class="quote-icon">
        <span class="icon fas fa-quote-left">
        </span>
        </div>
        <div class="author">Vanesa Lorens</div>
        <div class="designation">Niger State, Nigeria</div>
        </div>
        </div>
        </div>
        <div class="owl-item" style="width: 977px; margin-right: 30px;">
        <div class="testimonial-block">
        <div class="inner-box">
        <div class="image">
        <img src="/images/resource/author-2.jpg" alt="">
        </div>
        <div class="text">From
        start to finish we were totally delighted and impressed with every 
        aspect of our experience with KabodKaas architects. Each was creative, 
        thoughtful, and fully responsive to our questions as the design and 
        build-out process moved forward.</div>
        <div class="quote-icon">
        <span class="icon fas fa-quote-left">
        </span>
        </div>
        <div class="author">Michael Frile</div>
        <div class="designation">Lagos State, Nigeria</div>
        </div>
        </div>
        </div>
        <div class="owl-item cloned" style="width: 977px; margin-right: 30px;">
        <div class="testimonial-block">
        <div class="inner-box">
        <div class="image">
        <img src="/images/resource/author-1.jpg" alt="">
        </div>
        <div class="text">KabodKaas
        architects have been a pleasure to work with during the process of 
        relocating two of our offices, which included the relocation of our 
        company’s headquarters. Throughout the entire process, they managed to 
        provide premier design services and impeccable construction 
        coordination.</div>
        <div class="quote-icon">
        <span class="icon fas fa-quote-left">
        </span>
        </div>
        <div class="author">Vanesa Lorens</div>
        <div class="designation">Niger State, Nigeria</div>
        </div>
        </div>
        </div>
        <div class="owl-item cloned" style="width: 977px; margin-right: 30px;">
        <div class="testimonial-block">
        <div class="inner-box">
        <div class="image">
        <img src="/images/resource/author-2.jpg" alt="">
        </div>
        <div class="text">Your
        team turned our vision into a reality. The staff was professional and 
        creative throughout the design and build-out processes, bringing 
        knowledge and expertise to the table to help lead the construction 
        effort. We set out to build an innovative work environment that provides
        our employees a positive and energetic atmosphere."</div>
        <div class="quote-icon">
        <span class="icon fas fa-quote-left">
        </span>
        </div>
        <div class="author">Michael Frile</div>
        <div class="designation">Lagos State, Nigeria</div>
        </div>
        </div>
        </div>
        </div>
        </div>
        <div class="owl-nav">
        <button type="button" role="presentation" class="owl-prev">
        <span class="fa fa-angle-left">
        </span>
        </button>
        <button type="button" role="presentation" class="owl-next">
        <span class="fa fa-angle-right">
        </span>
        </button>
        </div>
        <div class="owl-dots disabled">
        </div>
        </div>
        </div>
        </section>
        <section class="clients-section grey-bg">
        <div class="auto-container">
        <div class="title-box">
        <div class="title">Our work is defined by so much more than just recognition</div>
        <h2>Let’s help your business by unleashing the power of structural design</h2>
        <div class="text">We’re architects, planners, engineers, strategists and industry specialists spanning hundreds of disciplines.</div>
        <div class="btns-box">
        <a href="/contact" class="theme-btn btn-style-four">Join our company</a>
        <a href="/contact" class="theme-btn btn-style-five">Contact Us</a>
        </div>
        </div>
        </div>
        </section>
        
        <%- include("./partials/bottom") %>

        </div>
        <div class="scroll-to-top scroll-to-target" data-target="html">
        <span class="fa fa-arrow-up">
        </span>
        </div>


<%- include("./partials/footer") %>